@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-div {
  justify-content: space-between;
  align-items: center;
}
.icon-div > p {
  font-size: 18px;
}

.icon {
  font-size: 30px;
  color: aqua;
}

.taskgivendiv {
  padding: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
  border-radius: 0.5rem;
  text-align: left;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  margin-top: 10px;
  margin-bottom: 10px;
}
.taskdiv {
  display: flex;
  flex-direction: column-reverse;
}
